{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Imóveis Disponíveis</h1>
<div class="row">
    {% for anuncio in anuncios %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'detalhe_anuncio' anuncio.id %}" class="dropdown-item">
                <div class="card h-100">
                    {% with primeira_imagem=anuncio.imagens.first %}
                        {% if primeira_imagem %}
                            <img src="{{ primeira_imagem.imagem.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="{{ anuncio.titulo }}">
                        {% else %}
                        <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;">
                            Sem imagem
                        </div>
                        {% endif %}
                    {% endwith %}

                    <div class="card-body">
                        <h5 class="card-title">{{ anuncio.titulo }}</h5>
                        <p class="card-text">
                            <strong>Tipo: </strong><span class="badge bg-primary">{{ anuncio.get_tipo_imovel_display }}</span><br>
                            <h4 class="text-success fw-bold">R$ {{ anuncio.preco|floatformat:2 }}</h4><br>
                            <strong class="text-muted mb-2">Cidade: </strong> {{ anuncio.cidade }}<br>
                            <strong>Quartos: </strong> {{ anuncio.quartos }} |
                            <strong>Banheiros: </strong> {{ anuncio.banheiros }} |
                            {% if anuncio.vagas_garagem != 0 %}
                                <strong>Garagem: </strong> {{ anuncio.vagas_garagem }}
                            {% endif %}
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="{% url 'detalhe_anuncio' anuncio.id %}" class="btn btn-primary btn-sm">
                                <i class="bi bi-buildings-fills"></i> Detalhes
                            </a>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-auto">
                                <a href="{% url 'editConsult' anuncio.id %}" class="btn btn-warning btn-sm" alt="Editar"><i class="bi bi-pencil-fill"></i></a>
                                <a href="{% url 'delete' anuncio.id %}" onclick="return confir('Tem certeza que deseja deletar?')" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% empty %}  
        <div class="col-12">
            <div class="alert alert-info">
                Nenhum imóvel cadastrado.
                <a href="{% url 'criar_anuncio' %}"> <i class="bi bi-building"></i> Seja o primeiro a anunciar!</a>
            </div>
        </div>
    {% endfor %}    
</div>
</div>
{% endblock %}